/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body 
{
    background: url('img/back.png') ;
}

.container
{
    padding-top: 48px;
}

#zurBar
{
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1000;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.ilblock
{
    display: inline-block;
}

.prof-header
{
    width: 35px;
    height: 35px;
}


/* -----------------------------------------
   Main Page
----------------------------------------- */
.sidebar 
{
    display: none;
}

@media only screen and (min-width: 880px)
{
    .sidebar 
    {
        display: inherit;
    }
}

@media only screen and (min-width: 770px)
{
    .side-right 
    {
        display: inherit;
    }
    .container
    {
        padding-top: 68px;
    }
}

/* -----------------------------------------
   Links on side of page
----------------------------------------- */

.actions a
{
    display: inline-block;
    padding: 3px 10px 3px 10px;
    width: inherit;
    text-decoration: none;
    border-top: 1px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
    border-left: 1px solid #C6C6C6;
    color: #444444;
    background-color: #F2F2F2;
    font-weight: bold;
}

.actions a:link
{
}

.actions a:visited
{
}

.actions a:active
{
}

.actions a:hover
{
    text-decoration: underline;
    border-top: 2px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    border-left: 2px solid #C6C6C6;
    color: #333333;
    background-color: #F2F2F2;
}

/* -----------------------------------------
   Making FullCalendar Small
----------------------------------------- */

.fc-header-title h2
{
    font-size: 1em;
    line-height: 1em;
}

.fc-header td
{
    vertical-align: baseline;
}

.fc-header h2
{
    line-height: inherit;
    margin: 0 auto;
}

.fc-header-center
{
    padding: 0px;
}

.fc-header-left span
{
    line-height: inherit;
    float: left;
}

.fc-header-right span
{
    float: right;
}

.fc-button-content div
{
    padding: 0px;
}

.fc-widget-header
{
    padding: 2px;
}

.fc-widget-content 
{
    padding: 2px;
    font-size: 1em;
    line-height: 1em;
}

.fc-widget-content:hover
{
    background-color: #00A5FF;
}