/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body 
{
    background: url('img/back.png') ;
}

.container
{
    padding-top: 48px;
}

#zurBar
{
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1000;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.ilblock
{
    display: inline-block;
}

.prof-header
{
    width: 35px;
    height: 35px;
}


/* -----------------------------------------
   Main Page
----------------------------------------- */
.sidebar 
{
    display: none;
}

@media only screen and (min-width: 880px)
{
    .sidebar 
    {
        display: inherit;
    }
}

@media only screen and (min-width: 770px)
{
    .side-right 
    {
        display: inherit;
    }
    .container
    {
        padding-top: 68px;
    }
}

/* -----------------------------------------
   Links on the main part of the page
----------------------------------------- */

.pagelinks a
{
    display: inline-block;
    padding: 3px 10px 3px 10px;
    width: inherit;
    text-decoration: none;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px #444444;
    color: #444444;
    background-color: #F2F2F2;
    font-weight: bold;
}

.pagelinks a:link
{
}

.pagelinks a:visited
{
}

.pagelinks a:active
{
}

.pagelinks a:hover
{
    text-decoration: underline;
    border-top: 1px solid #CCCCCC;
    color: #333333;
    background-color: #E5E5E5;
}

/* -----------------------------------------
   Links in the header
----------------------------------------- */

.navlinks a
{
    text-decoration: none;
}

.navlinks a:link
{
}

.navlinks a:visited
{
}

.navlinks a:active
{
}

.navlinks a:hover
{
    text-decoration: underline;
}

/* -----------------------------------------
   Format the avatar and logo
----------------------------------------- */

.logo table
{
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    border: 0;
    padding: 0;
    margin: 0;
    display: inline;
}

.logo tr
{
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    border: 0;
    padding: 0;
    margin: 0;
}

.logo td
{
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    border: 0;
    padding: 3px;
    margin: 0;
}

.logo img
{
    border: 1px solid #FFFFFF;
    padding: 0;
    margin: 0;
}

/* -----------------------------------------
   Making FullCalendar Small
----------------------------------------- */

.fc-header-title h2
{
    font-size: 1em;
    line-height: 1em;
}

.fc-header td
{
    vertical-align: baseline;
}

.fc-header h2
{
    line-height: inherit;
    margin: 0 auto;
}

.fc-header-center
{
    padding: 0px;
}

.fc-header-left span
{
    line-height: inherit;
    float: left;
}

.fc-header-right span
{
    float: right;
}

.fc-button-content div
{
    padding: 0px;
}

.fc-widget-header
{
    padding: 2px;
}

.fc-widget-content 
{
    padding: 2px;
    font-size: 1em;
    line-height: 1em;
}

.fc-widget-content:hover
{
    background-color: #00A5FF;
}