/* -----------------------------------------
   Formatting for full size calendar
----------------------------------------- */

.fc-header-title h2
{
}

.fc-header td
{
}

.fc-header h2
{
}

.fc-header-center
{
    padding: 0px;
}

.fc-header-left span
{
    float: left;
}

.fc-header-right span
{
    float: right;
}
.fc-header-right
{
    vertical-algin:middle;
}

.fc-state-hover
{
    background-color: #D8D8D8;
    cursor: pointer;
}

.fc-button-content div
{
}

.fc-widget-header
{
}

.fc-widget-content 
{
}

.fc-widget-content:hover
{
    background-color: #00A5FF;
    cursor: pointer;
}

.fc-other-month
{
    background-color: #e2e2e2;   
}