@{
    ViewBag.Title = "GridIndex";
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<article id="twoway">
	<section class="wrapper">
		<h3>A two-way split</h3>
		<p>
			These two blocks of text will float side by side with some empty columns on the sides on large screens. On medium-sized screens the empty columns will disappear, and on small screens the blocks will be stacked vertically.
		</p>
	</section>
	<section class="wrapper">
		<h3>By the way</h3>
		<p>
			If you're viewing this page on an iOS device, it might zoom in wonkily when you rotate your device. This is because of <a href="http://filamentgroup.com/examples/iosScaleBug/">a Mobile Safari bug</a>.
		</p>
	</section>
</article>