@{
    ViewBag.Title = "Fresh Face Home";
    Layout = "~/Views/Shared/_GridLayout.cshtml";
}

<!-- Start Row -->

<div class="row">

    <div class="three columns sidebar">

        <!-- Calendar -->

        <section class="row">
            <h4>My Events</h4>
            <div class="calendar"></div>
        </section>

        <!-- End Calendar -->
        


        <!-- FB Controls -->

        <section class="row">
            <h4>My Actions</h4>
            <div class="actions">
                <div class="row"><a class="btn">Add Friend</a></div>
                <div class="row"><a class="btn">Upload Photo</a></div>
                <div class="row"><a class="btn logout">Logout</a></div>
            </div>
        </section>

        <!-- End FB Controls -->

    </div>

<!-- News Feed -->

    <section class="seven columns">
        <h2>My News</h2>
        <article>
            <h3>News Article - by Brian Wyant</h3>
            <div>This is my content!  I hope you like it.</div>
        </article>
    </section>

    <!-- End News Feed -->

    <!-- Stock Ticker -->

    <section class="two columns sidebar side-right">
        <h4>My Stocks</h4>
        <article>
            <div>NASDAQ:GOOG</div>
        </article>
    </section>

    <!-- End Stock Ticker -->

</div>

<!-- End Row -->

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        console.log("Init...");
        FB.init({
            appId      : "@ViewBag.AppID",
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
        });
        $(".logout").click(function (event) {
            FB.logout(function (response) {
                $.post('/Account/LogOff', function (resp) {
                    window.location.href = '/Account/LogOn';
                });
            });
        });
    };
    (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
</script>
<script src="@Url.Content("~/Scripts/fb_calendar.js")" type="text/javascript"></script>